<!-- templates/registration/password_reset_confirm.html -->
{% extends 'base.html' %}

{% block title %}Enter new password{% endblock %}

{% block ico %}
{% load static %}
<link rel="shortcut icon" href="{% static 'img/ico/lock.ico' %}" type="image/x-icon">
{% endblock %}

{% block content %}
<section class="container">

  {% if validlink %}
  <h2 class="text-primary mb-3">Set a new password</h2>
  <div class="container">
    <form method="POST">
      {% csrf_token %}
      {% for field in form %}
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label formLabel-style">{{ field.label_tag }}</label>
        <br/>
        {{ field }}
        <div id="emailHelp" class="form-text">{% if field.help_text %}{{ field.help_text }}{% endif %}</div>
        {% for error in field.errors %}
        <p class="formError-style">{{ error }}</p>
        {% endfor %}
      </div>
      {% endfor %}
      <input class="btn btn-primary" type="submit" value="Change my password">
    </form>
  </div>
  {% else %}
  <div class="container">
    <h2>The password reset link was invalid, possibly because it has already been used. Please request a new password
      reset.
    </h2>
  </div>

  {% endif %}
</section>
{% endblock %}