<!-- templates/registration/password_reset_complete.html -->
{% extends 'base.html' %}

{% block title %}Password reset complete{% endblock %}

{% block ico %}
{% load static %}
<link rel="shortcut icon" href="{% static 'img/ico/lock.ico' %}" type="image/x-icon">
{% endblock %}

{% block content %}
<section class="container">

    <h2 class="text-primary mb-3">Password reset complete</h2>
    <div class="container">
        <p>Your new password has been set. You can log in now on the <a href="{% url 'login' %}"
                class="text-decoration-none">log in page</a></p>
    </div>
</section>
{% endblock %}