{% extends 'base.html' %}

{% block title %}
Sign Up
{% endblock %}

{% block ico %}
{% load static %}
<link rel="shortcut icon" href="{% static 'img/ico/signup.ico' %}" type="image/x-icon">
{% endblock %}

{% block content %}
<section class="container">

  <h2 class="text-primary mb-3">Sign up</h2>
  <div class="container">
    <form class="row g-3" method="post">
      {% csrf_token %}
      {% for field in form %}
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label formLabel-style">
          {{ field.label_tag }}</label>
        <br />
        {{ field }}
        <div id="emailHelp" class="form-text mt-1">{% if field.help_text %}{{ field.help_text }}{% endif %}</div>
        {% for error in field.errors %}<p class="formError-style ml-1">{{ error }}</p> {% endfor %}

      </div>
      {% endfor %}
      <div class="mb-3">
        <input class="btn btn-primary" type="submit" value="Sign up">
      </div>

    </form>
  </div>
</section>
{% endblock %}