{% extends 'base.html' %}
{% block title %}
{{ book.title }}
{% endblock %}

{% block ico %}
{% load static %}
<link rel="shortcut icon" href="{% static 'img/ico/detail.ico' %}" type="image/x-icon">
{% endblock %}


{% block content %}
{% load static %}

<section class="container">

    <div class="row">
        <div class="col-md-6">
            <h2>Url Phishing Scanner</h2>
            <form method="get" action="{% url 'search' %}" class="mt-4 d-flex align-items-center">
                {% csrf_token %}
                <div class="form-group mb-0 flex-grow-1">
                    <label for="urlInput" class="sr-only">URL de Phishing:</label>
                    <input type="text" class="form-control" id="urlInput" name="url_legit" placeholder="Ingrese la URL...">
                </div>
                <button type="submit" class="btn btn-primary ml-3">Buscar</button>
                {% if user.is_authenticated and df_html and send_mail_option %}
                </form> <!-- Close the first form before opening the second one -->
                <form method="get" action="{% url 'send_informe_phishing' %}" class="ml-3 mb-0">
                    {% csrf_token %}
                    <input type="hidden" name="url_legit_mail" value="{{ url_legit }}">
                    <button type="submit" class="btn btn-success mt-3">Enviar por Correo</button>
                </form>
                {% endif %}
            </form>
            {% if send_mail_ok %}
            <div class="alert alert-success mt-3" role="alert">
                Informe enviado correctamente
            </div>
            {% endif %}
        </div>
    </div>


    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <div class="container">
                    {% if user.is_authenticated and df_html and send_mail_option %}
                    <h2>Informe de Análisis de {{url_legit}}</h2>
                    {% else %}
                    <h2>Informe de Análisis</h2>
                    {% endif %}

                    <div class="table-responsive">
                        {{ df_html|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    {% if user.is_authenticated and df_html and send_mail_option %}
    <div class="container text-center my-4">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Número de URLs por Tipo de Riesgo</h5>
                    </div>
                    <div class="card-body">
                        <img src="data:image/png;base64,{{ image_base64 }}" class="img-fluid" alt="Risk Bar Chart">
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <div class="card mb-4">
        <div class="card-header">
            <h5 class="card-title">Estadísticas</h5>
        </div>
        <div class="card-body">
            <ul>
                <li>Total de URLs analizadas: {{ total_urls }}</li>
                <li>Total de URLs sospechosas: {{ suspicious_urls }}</li>
                <li>Porcentaje de URLs en cada categoría de riesgo:
                    <ul>
                        {% for risk, percentage in risk_percentages.items %}
                        <li>{{ risk }}: {{ percentage }}%</li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    
    {% endif %}

</section>



<script>
    function submitForm() {
        document.forms[0].submit();
    }
</script>

{% endblock content %}